@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-size: cover;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-composite: exclude;
}
